body {
    font-family: serif;
    margin: 0;
    padding: 0;
    font-size: large;
  }
  
  header {
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(120, 87, 4, 0.783);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 100px;
  }
  
  form {
    margin-top: 20px;
    background-color: rgba(120, 87, 4, 0.783);
    font-size: large;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    font-size: medium;
  }
  
  button:hover {
    background-color: white;
    color: black;
    font-size: medium;
  }
  
  footer {
    background-color: rgba(120, 87, 4, 0.783);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: large;
  }
  
